<div class="container" id="admin-page">
  <h1>Administrator's Page</h1>

  <div class="a-faq">
    <h2>Frequently Asked Questions <span><%= link_to "add another", new_faq_path %><span></h2>

    <ul>
      <% @faqs.each do |faq| %>
      <li class="col-sm-4">
        <h3><%= faq.question %></h3>
        <p><%= faq.answer %></p>
        <%= link_to "Delete", faq, method: :delete, class: "delete_link", remote: true %>
        <%= link_to "Edit", edit_faq_path(faq), class: "edit_link" %>
      </li>
      <% end %>
    </ul %>
  </div>

  <div class="addons">
    <h2>Intros and Conclusions <span><%= link_to "edit", edit_addon_path(@addon) %></span></h2>
    <ul>
      <li class="col-sm-12">
        <h3>Nortel Intro</h3>
        <p><%= @addon.nortel_intro %></p>
      </li>
      <li class="col-sm-12">
        <h3>Nortel Conclusion</h3>
        <p><%= @addon.nortel_conclusion %></p>
      </li>
      <li class="col-sm-12">
        <h3>Cabling Intro</h3>
        <p><%= @addon.cabling_intro %></p>
      </li>
      <li class="col-sm-12">
        <h3>Cabling Conclusion</h3>
        <p><%= @addon.cabling_conclusion %></p>
      </li>
    </ul %>
  </div>

  <div class="a-services">
    <h2>Nortel Services <span><%= link_to "add another", new_nortel_service_path %><span></h2>
    <ul>
      <% @nortel_services.each do |s| %>
      <li class="col-sm-4">
        <p><%= s.description %></p>
        <%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %>
        <%= link_to "Edit", edit_nortel_service_path(s), class: "edit_link" %>
      </li>
      <% end %>
    </ul %>
  </div>

  <div class="a-additional-services">
    <h2>Additional Nortel Services <span><%= link_to "add another", new_nortel_add_serv_path %><span></h2>
    <ul>
      <% @nortel_add_servs.each do |as| %>
      <li class="col-sm-4">
        <p><%= as.description %></p>
        <%= link_to "Delete", as, method: :delete, class: "delete_link", remote: true %>
        <%= link_to "Edit", edit_nortel_add_serv_path(as), class: "edit_link" %>
      </li>
      <% end %>
    </ul %>
  </div>

  <div class="a-services">
    <h2>Cabling Services <span><%= link_to "add another", new_cabling_service_path %><span></h2>
    <ul>
      <% @cabling_services.each do |s| %>
      <li class="col-sm-4">
        <p><%= s.description %></p>
        <%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %>
        <%= link_to "Edit", edit_cabling_service_path(s), class: "edit_link" %>
      </li>
      <% end %>
    </ul %>
  </div>

  <div class="a-additional-services">
    <h2>Additional Cabling Services <span><%= link_to "add another", new_cabling_add_serv_path %><span></h2>
    <ul>
      <% @cabling_add_servs.each do |as| %>
      <li class="col-sm-4">
        <p><%= as.description %></p>
        <%= link_to "Delete", as, method: :delete, class: "delete_link", remote: true %>
        <%= link_to "Edit", edit_cabling_add_serv_path(as), class: "edit_link" %>
      </li>
      <% end %>
    </ul %>
  </div>

  <div class="a-clients">
    <h2>Clients <span><%= link_to "add another", new_client_path %><span></h2>
    <ul>
      <% @clients.each do |c| %>
      <li class="col-sm-4">
        <h3><%= c.name %></h3>
        <p><%= c.tag %></p>
        <img src="<%= c.logo_url %>">
        <%= link_to "Delete", c, method: :delete, class: "delete_link", remote: true %>
        <%= link_to "Edit", edit_client_path(c), class: "edit_link" %>
      </li>
      <% end %>
    </ul %>
  </div>

</div>
   
