<div class="admin-dashboard">
  <ul>
    <li><%= link_to "Add Services", new_service_path %></li>
    <li><%= link_to "Add Additional Services", new_additional_service_path %></li>
    <li><%= link_to "Add Clients", new_client_path %></li>
    <li><%= link_to "Add FAQ", new_faq_path %></li>
    <li><%= link_to "ADMIN", admin_path %></li>
  </ul>
</div>
