<%= form_for @addon do |f| %>
<div class="form-inline">
  <div class="form-group col-xs-12">
    <%= f.label :nortel_intro %><br>
    <%= f.text_area :nortel_intro, :size => "30x6", class: "form-control" %>
    <%= f.label :nortel_conclusion %><br>
    <%= f.text_area :nortel_conclusion, :size => "30x6", class: "form-control" %>
    <%= f.label :cabling_intro %><br>
    <%= f.text_area :cabling_intro, :size => "30x6", class: "form-control" %>
    <%= f.label :cabling_conclusion %><br>
    <%= f.text_area :cabling_conclusion, :size => "30x6", class: "form-control" %>
  </div>
</div>
<%= f.submit class: "btn btn-primary" %>

<% end %>